
@import url('https://fonts.googleapis.com/css2?family=Work+Sans:ital,wght@0,100..900;1,100..900&display=swap');


/* shard Style */

body{
    margin: 0;
    padding: 0;
    scroll-behavior: smooth;
}
.work-sans-common {
  font-family: "Work Sans", sans-serif;
  font-optical-sizing: auto;
  font-weight: <weight>;
  font-style: normal;
}

.display_flex {
    display: flex;
}
.header_bg {
    background-color: rgba(255, 216, 14, 0.1);
}

.common_btn{
    background-color: #FF900E;
    padding: 21px 24px;
    border-radius: 5px;
    color: #FFFFFF;
    border: none;
}


/* header style */
.nav_li{
    list-style: none;
}

.nav_link{
    text-decoration: none;
    margin-right: 50px;
    font-size: 18px;
    color: 727272;
    
}
.navbar{
    justify-content: space-between;
    align-items: center;
}

.navbar, .banner{
    max-width: 1440px;
    margin: 0 auto;

}

.brand_details{
    max-width: 860px;
    margin: 0 auto;
    text-align: center;
    margin-top: 116px;
}

.banner img{
    margin-top: 50px;
}
.navbar .brand{
    font-weight: 700;
    font-size: 3rem;
    color: black;
}
.banner_img{
    max-width: 100%;
}


/* quick list */

.teams{
   
     
}
.fitures{
    align-items: center;
    gap: 50px;
    max-width: 1440px;
    margin: 0 auto;
    margin-top: 107px;
}
.features_imgs {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 24px;
   
}

.quick_list{
    max-width: 537px;
    
}
 .quick_list h1 .qck_list{
    color: #727272;
    font-size: 2.85rem;
}
.quick_list h1 .our{
    color: #131313;
    font-size: 2.85rem;
}
.quick_list h1 .fea{
    color: #FF900E;
    font-size: 2.85rem;
}

.quick_list p{
    color: #727272;
    font-size: 1rem;
}

/* love&Enjoy */

.love_enjoy{
    max-width: 1440px;
    margin: 0 auto;
}

.love_features{
    max-width: 586px;
    margin-top: 169px;

}

.love_features .love_title{
    font-size: 2.85rem;
    color: #131313;
}

.card_container{
    max-width: 586px;
}

.card_container .card{
    max-width: 586px;
    padding: 30px;
    box-shadow: 0px 0px 2px .5px rgb(171, 170, 170) ;
    background-color: #FFFFFF;
    margin-bottom: 20px;
}

.card .card_desc{
    color: #727272;
}
.love_enjoy{
    display: flex;
    gap: 54px;
}

.yeard{
    max-width: 800px;
    margin-top: 130px;
}
/* response for mobile */
@media screen and (max-width:576px) {
    .navbar, .nab_menu, .fitures{
        flex-direction: column;
    }
    .features_imgs{
        max-width: 100%;
        display: grid;
        grid-template-columns: repeat(1, 1fr);
    }
.quick_list{
    text-align: center;
}
    
}