
@import url('https://fonts.googleapis.com/css2?family=Work+Sans:ital,wght@0,100..900;1,100..900&display=swap');


/* shard Style */

body{
    margin: 0;
    padding: 0;
    scroll-behavior: smooth;
}
.work-sans-common {
  font-family: "Work Sans", sans-serif;
  font-optical-sizing: auto;
  font-weight: <weight>;
  font-style: normal;
}

.display_flex {
    display: flex;
}
.header_bg {
    background-color: rgba(255, 216, 14, 0.1);
}

.common_btn{
    background-color: #FF900E;
    padding: 21px 24px;
    border-radius: 5px;
    color: #FFFFFF;
    border: none;
}


/* header style */
.nav_li{
    list-style: none;
}

.nav_link{
    text-decoration: none;
    margin-right: 50px;
    font-size: 18px;
    color: 727272;
    
}
.navbar{
    justify-content: space-between;
    align-items: center;
}

.navbar, .banner{
    max-width: 1440px;
    margin: 0 auto;

}

.brand_details{
    max-width: 860px;
    margin: 0 auto;
    text-align: center;
    margin-top: 116px;
}

.banner img{
    margin-top: 50px;
}
.navbar .brand{
    font-weight: 700;
    font-size: 3rem;
    color: black;
}
.banner_img{
    max-width: 100%;
}


/* quick list */

.teams{
   
     
}
.fitures{
    align-items: center;
    gap: 50px;
    max-width: 1440px;
    margin: 0 auto;
    margin-top: 107px;
    justify-content: center;
}
.features_imgs {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 24px;
   
}

.quick_list{
    max-width: 537px;
    
}
 .quick_list h1 .qck_list{
    color: #727272;
    font-size: 2.85rem;
}
.quick_list h1 .our{
    color: #131313;
    font-size: 2.85rem;
}
.quick_list h1 .fea{
    color: #FF900E;
    font-size: 2.85rem;
}

.quick_list p{
    color: #727272;
    font-size: 1rem;
}

/* love&Enjoy */

.love_enjoy{
    max-width: 1440px;
    margin: 0 auto;
    justify-content: center;
}

.love_features{
    max-width: 586px;
    margin-top: 169px;

}

.love_features .love_title{
    font-size: 2.85rem;
    color: #131313;
    border-left: 4px solid #ff900e;
    padding-left: 21px;
}

.card_container{
    max-width: 586px;
}

.card_container .card{
    max-width: 586px;
    padding: 30px;
    box-shadow: 0px 4px 30px 0px rgba(0, 0, 0, 0.06) ;
    background-color: #FFFFFF;
    margin-bottom: 20px;
}

.card .card_desc{
    color: #727272;
}
.love_enjoy{
    display: flex;
    gap: 146px;
}

.yeard{
    max-width: 800px;
    margin-top: 130px;
}
.btn{
    border: none;
    background-color: #ff900e;
     border-radius: 5px;
     padding: 46px 42px;
     margin-top: -100px;
     margin-left: -50px;
}
.btn .years{
    font-size: 4rem;
    font: 700;
    color: #FFFFFF; 
}

.btn .experience{
    font-size: 1.2rem;
    font: 600;
    color: #FFFFFF; 
}

/* facts  */
.facts{
    margin-bottom: 50px;
}
.facts .facts_card_container{
 display: flex;
 gap: 124px;
margin-left: 290px;
margin-top: 100px;
}
.facts_description{
    margin-left: 120px;
}

.facts_description h3{
    font-size: 2.85rem;
    font-weight: 700;
    color: #131313;
    margin-bottom: 24px;
}
.facts_card{
    border: 1px solid #FF900E;
    padding: 45px 35px 59px 35px;
    text-align: center;
    border-radius: 10px;
    
}

.facts_card h2{
    font-size: 2.5rem;
    font-weight: 600;
    color: #424242;
    margin-top: 10;
}
.facts_card p{
    font-size: 1.25rem;
    font-weight: 600;
    color: #727272;
    margin-top: 0;
}


/* response for mobile */
@media screen and (max-width:700px) {
    .navbar, .nab_menu, .fitures{
        flex-direction: column;
    }
    .features_imgs{
        max-width: 100%;
        display: grid;
        grid-template-columns: repeat(1, 1fr);
    }
.quick_list{
    text-align: center;
}
    .love_enjoy{
        display: grid;
        grid-template-columns: repeat(1, 1fr);
        margin-left: 100px;
    }

.facts .facts_card_container{
 flex-direction: column;
 gap: 50px;
 margin-left: 20px;

}
}
    
